[tool.poetry]
name = "four-key-metrics"
version = "0.1.0"
description = ""
authors = ["Craig J. Bass <1889973+craigjbass@users.noreply.github.com>"]

[tool.poetry.dependencies]
python = "^3.7"
ciso8601 = "^2.2.0"
requests = "^2.26.0"
glom = "^20.11.0"

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
HTTPretty = "^1.1.4"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
